<div class="container">
  <mat-toolbar style="margin: 16px 0">
    <span>Crear Postulación</span>
  </mat-toolbar>
  <mat-card style="padding: 16px">
    <form class="form" [formGroup]="form" (ngSubmit)="addPostulacion()">
      <mat-form-field color="accent" class="full-width">
        <mat-label>Puesto</mat-label>
        <input matInput autocomplete="off" formControlName="puesto" />
      </mat-form-field>
      <mat-form-field color="accent" class="full-width">
        <mat-label>Empresa</mat-label>
        <input matInput autocomplete="off" formControlName="empresa" />
      </mat-form-field>
      <mat-form-field color="accent" class="full-width">
        <mat-label>Enlace de postulación</mat-label>
        <input matInput autocomplete="off" formControlName="enlace" />
      </mat-form-field>
      <div class="button-container">
        <button mat-button color="accent">Volver</button>
        <button
          type="submit"
          [disabled]="form.invalid"
          mat-raised-button
          color="accent"
        >
          Crear postulación
        </button>
      </div>
    </form>
  </mat-card>
</div>
